<div class="container">
  <h2>Login</h2>
  <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()"> 
        <!-- </form> --> 
    <div class="form-group">
      <label for="username">Username/Email:</label>
      <input type="text" placeholder="Username/Email" formControlName="username" class="form-control" id="username" name="username" [ngClass]="{ 'is-invalid': (isInvalidEntry['error'] && f.username.errors) || (f.username.dirty && f.username.invalid) }" />
      <div *ngIf="f.username.dirty && f.username.invalid && !f.username.errors.required" class="invalid-input">Invalid
          username/Email</div>
        <div *ngIf="isInvalidEntry['error'] && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.dirty && f.username.errors.required"> Username/Email is required</div>
        </div>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" formControlName="password" name="password"
       [ngClass]="{ 'is-invalid': (isInvalidEntry['error'] && f.password.errors) || (f.password.dirty && f.password.invalid) }" />
      <div *ngIf="f.password.dirty && f.password.invalid && !f.password.errors.required" class="invalid-input">
        Invalid password</div>
        <div *ngIf="isInvalidEntry['error'] && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.dirty && f.password.errors.required"> password is required</div>
        </div>
    </div> 

     <div *ngIf="invalidCred" class="invalid-cred">
        <div> Username/password is wrong</div>
      </div>
    <button *ngIf="!isSubmitting" type="submit" class="btn btn-primary">Login</button>
  </form>
</div>