/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
.row {
  margin-right: 0px;
  margin-left: 0px;
}
.safe-margin-top{
  margin-top: 90px;
}
.navbar-brand{
  font-weight: bolder;
  color: green !important;
}